{% load static %}
{% block blog %}
  <!-- ======= секция блога======= -->
  <section id="blog" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active"># все</li>
            {% for tag in tags %}
            <li data-filter=".{{ tag }}"># {{ tag }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row portfolio-container">
        {% block content %}

        {% for post in posts %}
        <div class="col-lg-4 col-md-6 portfolio-item {{ post.tags_line }}">
          <div class="portfolio-wrap">
            <img src="personal_site/static/img/post-background.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                  <a class="blog-image-link portfolio-details-lightbox" href="{{ post.get_absolute_url }}" data-gallery="blogDetailsGallery" data-glightbox="type: external" ><img src="media/{{ post.image_path }}" class="blog-image" alt=""></a>
                  <h4><a href="{{ post.get_absolute_url }}" data-gallery="blogDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox">{{ post.title }}</a></h4>
                <p>{{ post.description }}</p>

                <div class="blog-post-date">{{ post.date }} • {{ post.time_to_read }} </div>
          </div>

          </div>

        </div>
        {% endfor %}
        {% endblock %}
</div>
    </div>
  </section><!-- конец блога -->
{% endblock %}