{% extends "personal_site/base.html" %}
{% load personal_site_tags %}

{% block content %}

    {% block header %}
    {% include "personal_site/header.html" %}
    {% endblock %}

    {% article_list "PR" %}

    {% article_list "BL" %}

    {% comment %}

        {% block blog %}
        {% include "personal_site/blog.html" %}
        {% endblock %}

    {% endcomment %}

    {% block contacts %}
    {% include "personal_site/contacts.html" %}
    {% endblock %}

    {% comment %}

    {% block resume %}
    {% include "resume.html" %}
    {% endblock %}

    {% block counters %}
    {% include "counters.html" %}
    {% endblock %}

    {% block skills %}
    {% include "skills.html" %}
    {% endblock %}

    {% block interests %}
    {% include "interests.html" %}
    {% endblock %}

    {% endcomment %}

{% endblock %}

