{% extends "personal_site/base.html" %}

{% block content %}

    {% block header %}
    {% include "personal_site/header.html" %}
    {% endblock %}

    {% block blog %}
    {% include "personal_site/blog.html" %}
    {% endblock %}

    {% block contacts %}
    {% include "personal_site/contacts.html" %}
    {% endblock %}

    {% comment %}

    {% block resume %}
    {% include "resume.html" %}
    {% endblock %}

    {% block counters %}
    {% include "counters.html" %}
    {% endblock %}

    {% block skills %}
    {% include "skills.html" %}
    {% endblock %}

    {% block interests %}
    {% include "interests.html" %}
    {% endblock %}

    {% block portfolio %}
    {% include "portfolio.html" %}
    {% endblock %}

    {% endcomment %}

{% endblock %}

