{% extends "personal_site/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="portfolio-details" id="portfolio-details">

    <div id="header" class="header-top header-detail">
        <div class="container">
            <h1><a class="main-title"
                   onclick='if (document.referrer === "") { window.location = window.location.origin } else { history.back() }'>Алексей
                Бурлаков</a></h1>
        </div>
    </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h2 class="portfolio-title">{{ article.title }}</h2>
                </div>
                <div class="col-lg-8 portfolio-info">
                    {% if article.sub_title|length > 1 %}
                        <h3>{{ article.sub_title }}</h3>
                    {% endif %}

                    {% language 'ru' %}
                        <p class="post-date">{{ article.date|date:"j E Y г." }}</p>
                    {% endlanguage %}
                    </p>
                    {{ article.text_as_html|safe }}
                    </p>
                    <p class="post-tags">{{ article.tags_line }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
