{% extends "personal_site/base.html" %}
{% load personal_site_tags %}

{% block content %}

    {% block header %}
        {% include "personal_site/header.html" %}
    {% endblock %}

    {% article_list "BL" %}

    {% article_list "PR" %}

    {% block resume %}
        {% include "personal_site/resume.html" %}
    {% endblock %}

    {% block about_me %}
        {% include "personal_site/about_me.html" %}
    {% endblock %}

    {% comment %}

        {% block blog %}
        {% include "personal_site/inclusion_tags/article_list.html" %}
        {% endblock %}

    {% endcomment %}

    {#    {% block contacts %}#}
    {#        {% include "personal_site/contacts.html" %}#}
    {#    {% endblock %}#}

    {% comment %}

    {% block counters %}
    {% include "counters.html" %}
    {% endblock %}

    {% block skills %}
    {% include "skills.html" %}
    {% endblock %}

    {% block interests %}
    {% include "interests.html" %}
    {% endblock %}

    {% endcomment %}

{% endblock %}

